.section-a{

  .container-fluid{
    width: 1170px;
    margin: 0 auto;
    .navbar{
      .navbar-nav{
        .nav-item{
          img{
            height: 66px;
            width: 216px;
            margin-top: 32px;

          }
           margin-left: 40px;
           .nav-link{

             margin-top: 55px;
             justify-content: space-between;
             align-items: center;
             font-family: Raleway,sans-serif;
             font-size: 13px;
             font-style: normal;
             font-weight: 600;
             line-height: 20px;
             letter-spacing: 0;
             text-align: left;
             color: #343434;
           }
         }
      }
    }
  }
}

.section-b{
  .container-fluid{
    width: 1170px;
    margin: 0 auto;
   .row{
    .images{
     margin-top: 80px;
      img{
        cursor: pointer;
        height: 91px;
        width: 150px;
      }
      h4{
        cursor: pointer;
        margin-top: 6.7%;
        font-family: Open Sans,sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0;
        text-align: center;
      }
      h4:hover{
        color: #FF9619;
      }
    }

   }
  }
}

.section-c{
  .container-fluid{
    width: 1170px;
    margin: 0 auto;
    .row{
      margin-top: 100px;
      margin-left: 70px;
      h2{
        margin-top: 5px;
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        color: #343434;
      }
      .img-fluid{
        margin-top: 5px;
        margin-left: 440px;
        height: 26px;
        width: 55px;
      }
      .img-fluid1{
        margin-top: 5px;
        margin-left: 20px;
        height: 26px;
        width: 55px;
      }
      form{
        input{
          position: absolute;
          margin-left: 40px;
          height: 36px;
          width: 270px;
        }
        img{
          margin-top: 3px;
         position: relative;
          margin-left: 280px;
          height: 19px;
          width: 19.65517234802246px;
        }
      }
    }
  }
}

.section-d{

width: 1300px;
  margin: 0 auto;
  .row{
     margin-left: 150px;
      margin-top: 100px;
      .col-5{
        margin-left: 20px;
        height: 278px;

        background: #F2F3F5;
        .d-flex{
          margin-top: 50px;
          img{
            height: 176px;
            width: 220px;
            mix-blend-mode: darken;
          }
          .card{
            height: 75px;
            width: 260px;
            margin-top: 30px;
            border: none;
            background: #F2F3F5;
            h2{

              font-family: 'Raleway',sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              text-transform: uppercase;
              color: #4B4844;
            }
            p{

              font-family: Raleway,sans-serif;
              font-size: 12px;
              font-style: normal;
              font-weight: 300;
              line-height: 15px;
              letter-spacing: 0.1em;
              text-align: left;

            }
          }
        }
      }

    }
  .navbar-expand-sm{
    justify-content: center;
    margin-top: 3%;
    .navbar-nav{
      .active{
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 110%;
        display: flex;
        align-items: center;
        color: rgba(52, 52, 52, 0.5);
      }
      margin-left: 25px;
      .nav-item{
        .nav-link{
          font-family: 'Roboto',sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 110%;
          display: flex;
          align-items: center;
          color: rgba(52, 52, 52, 0.5);
        }
      }
      .nav-link:hover{
        color:  #343434;;
      }
    }
  }
  .btn{
    height: 43px;
    width: 188px;
    font-family: Raleway,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    background: #FF9619;
    margin-left: 570px;
    color: #FFFFFF;
    margin-top: 40px;
  }
}

.section-e{
  margin-top: 150px;
  height: 478px;
  width: 100%;
  background: #A9C2BE;
  .container{

    .row{
      .img-fluid{
        margin-left: 100px;
        height: 478px;
        width: 670px;
      }

      .col-4{
        position: absolute;
        margin-left: 650px;
        margin-top: 50px;
        height: 400px;
        background: #FFFFFF;
        h3{
          margin-top: 30px;
          margin-left: 15px;
          color: #FF9619;
          font-family: Raleway,sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          text-align: left;
        }
        h1{
          margin-left: 15px;
          font-family: Raleway,sans-serif;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 33px;
          text-align: left;
        }
        input{
          margin-left: 20px;
          margin-top: 15px;
        }
        input:hover{
          outline: none;
        }
        .d-flex{
          margin-top: 20px;
          .card{
            margin-top: 10px;
            margin-left: 60px;
            width: 250px;
            position: absolute;
            border: none;
            p{
              font-family: Raleway,sans-serif;
              font-size: 11px;
              font-style: normal;
              font-weight: 400;
              line-height: 13px;
              text-align: left;

            }
          }
        }
        .btn{
          height: 43px;
          width: 209.5416717529297px;
          font-family: Raleway,sans-serif;
          font-size: 16px;
          background: #FF9619;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          margin-top: 20px;
          margin-left: 100px;
          color: #FFFFFF;
        }
      }

    }
  }
}

.section-f{
  .container{
    img{
      margin-top: 10%;
      margin-left: 60%;
    }
  }
}

.section-g{
  height: 450px;
  background: #5B5B5B;
  .container{
    p{
      font-family: Raleway,sans-serif;
      color: white;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.16em;
      text-align: center;
      margin-top: 100px;
    }
      .row{
        img{
          margin-top: 120px;
          height: 56px;
          width: 170px;
        }
        .footer{
          cursor: pointer;
          margin-top: 100px;
          margin-left: 100px;
          h2{
            font-family: Raleway,sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.16em;
            color: white;
            margin-top: 15px;
          }
          .card{
            height: 50px;
            width: 133px;
            background: #5B5B5B;
            border: none;
            color: white;
            margin-top: 15px;
          }
        }
        .footer1{
          cursor: pointer;
          margin-top: 100px;

          .facebook-btn{
            margin-top: 10px;
            width: 50px;
            height: 50px;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            color: white;
            float: right;
            border: 1px solid white;
            border-radius: 50%;
            margin-left: 250px;
            position: absolute;
          }
          .instagram-btn{
            position: absolute;
            margin-left: 180px;
            margin-top: 10px;
            width: 50px;
            height: 50px;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            color: white;
            float: right;
            border: 1px solid white;
            border-radius: 50%;
          }
          h3{
            margin-left: 190px;
            margin-top: 70px;
            font-family: Open,sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            color: white;
            text-align: left;
          }
          .btn{
            margin-left: 190px;
            height: 42px;
            margin-top: 30px;
            width: 271px;
            left: 935px;
            top: 4488px;
            font-family: Open,sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            background: #FF9619;
            color: white;
          }
        }
      }
    }
  }

